/* header! */


header {
  background: linear-gradient(var(--primary-color-dark), var(--primary-color-darker)) ;
  color: var(--secondary-color);

  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.458);
  position: fixed;
  width: 100vw;

  z-index: 99;
}




header .container {
  height: 13rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 10px solid var(--primary-color-dark);
}

.nav {
  display: flex;
  gap: 8rem;
}

.nav .btn {
  color: var(--secondary-color-light);
  font-size: var(--big-font);
  /* border: none; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;


  transition: 0.3s all;
}

.nav .btn:hover{
  transform: scale(1.1);
  color: var(--secondary-color-lighter);
}

/* main */



/* main hero */

.hero-section {
  padding-bottom: 22rem;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.574), rgba(89, 18, 22, 0.34)),url(../img/main.jpg);
  background-size: cover;
  height: 100vh;
}

.hero-section .container {
  padding-top: 40rem;
}

.hero-box {
  padding-top: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text{}

.hero-img{}

.hero-btn:link,
.herp-btn:visited {
  display: inline-block;
  margin-top: 2rem;
  font-size: var(--large-font);
  color: var(--secondary-color-lighter);
  font-weight: 500;

  transition: 0.5s all;
}

.hero-btn:hover{
  transform: scale(1.1);
  color: var(--primary-color-dark);
  font-weight: 900;
}


/* About section */
.about-section {
  padding-top: 10rem;
  background-color: var(--primary-color);
  color: var(--secondary-color-light);
  font-size: var(--large-font);
}

.about-section .container {
  max-width: 180rem;
  height: 100rem;

  display: flex;
  align-items: center;
  gap: 10rem;
}

.about-section p:first-of-type {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: var(--medium-font);
}

.slider {
  width: 180rem;
  height: 50rem;
  position: relative;
  overflow-x: hidden;
  border-radius: 10px;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  object-fit: scale-down;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}


.slide--1 {
  background: url(../img/cat-1.jpg);
}

.slide--2 {
  background: url(../img/cat-2.jpg);
}

.slide--3 {
  background: url(../img/cat-3.jpg);
}

.slide--4 {
  background: url(../img/cat-4.jpg);
}

.slide--5 {
  background: url(../img/cat-5.jpg);
}

.slide--6 {
  background: url(../img/cat-6.jpg);
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 1;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.75rem;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition:  all 0.5s;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/* menu section */


.menu-section {
  padding: 30rem 0;
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  font-size: var(--medium-font);

}

.menu-section .heading-tertiary {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white-like-color);
  margin-bottom: 18rem;
  position: relative;
}

.menu-section .heading-tertiary::before {
  content: 'Miau...';
  font-size: var(--medium-font);
  position: absolute;
  top: 0;
  right: -2rem;
}

.menu {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
}

/* .menu img {
  width: 100%;
  height: auto;
} */

.meal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

}

.meal-name {
  display: inline-block;
  font-size: var(--very-large-font);
  margin-bottom: 1rem;
}

.meal-description{}

/* contact section */

.contact-section {
  background-color: var(--primary-color-darker);
  color: var(--white-like-color);
  font-size: var(--very-large-font);
  padding-bottom: 1rem;


  position: relative;
}

.contact-section .heading-tertiary {
  color: var(--white-like-color);
  font-weight: 900;
  font-size: calc(var(--very-large-font)*3);
  text-shadow: 8px 8px 2px rgba(0, 0, 0, 0.278);
  margin-bottom: 8rem;

}

.contact-img {
  background-image: url(../img/contact-1.jpg);
  background-size: cover;
  height: 100vh;
  /* z-index: -1; */

  display: flex;
  justify-content: center;
  align-self: center;
}

.contact-img .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* footer */


.footer {
  width: 100vw;
  background-color: var(--primary-color-darker);

  display: flex;
  justify-content: center;
  align-items: center; 
  

}

.footer p {
  font-size: var(--medium-font);
  transition: 0.3s all;
  color: var(--secondary-color);

  padding: 1rem;
}

.footer p:hover {
  color: var(--secondary-color-light)
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}