/* header! */


header {
  background: linear-gradient(var(--primary-color-dark), var(--primary-color-darker)) ;
  color: var(--secondary-color);

  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.458);
  position: fixed;
  width: 100vw;

  z-index: 99;
}




header .container {
  height: 13rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 10px solid var(--primary-color-dark);
}

.nav {
  display: flex;
  gap: 8rem;
}

.nav .btn {
  color: var(--secondary-color-light);
  font-size: var(--big-font);
  /* border: none; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;


  transition: 0.3s all;
}

.nav .btn:hover{
  transform: scale(1.1);
  color: var(--secondary-color-lighter);
}

/* main */



/* main hero */

.hero-section {
  padding-bottom: 22rem;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.574), rgba(89, 18, 22, 0.34)),url(../img/main.jpg);
  background-size: cover;
  height: 100vh;
}

.hero-section .container {
  padding-top: 40rem;
}

.hero-box {
  padding-top: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text{}

.hero-img{}

.hero-btn:link,
.herp-btn:visited {
  display: inline-block;
  margin-top: 2rem;
  font-size: var(--large-font);
  color: var(--secondary-color-lighter);
  font-weight: 500;

  transition: 0.5s all;
}

.hero-btn:hover{
  transform: scale(1.1);
  color: var(--primary-color-dark);
  font-weight: 900;
}


/* About section */
.about-section {
  padding-top: 10rem;
  background-color: var(--primary-color);
  color: var(--secondary-color-light);
  font-size: var(--large-font);
}

.about-section .container {
  max-width: 180rem;
  height: 100rem;

  display: flex;
  align-items: center;
}

.about-section p:first-of-type {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: var(--medium-font);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.gallery-item img {
  width: 100%;
  box-shadow: 0 2px 30px 2px rgba(0, 0, 0, 0.219);

  transition: 0.5s all;
}

.gallery-item img:hover {
transform: scale(1.2);
}




/* footer */


.footer {
  width: 100vw;
  background-color: var(--primary-color-darker);

  display: flex;
  justify-content: center;
  align-items: center; 


}

.footer p {
  font-size: var(--medium-font);
  transition: 0.3s all;
  color: var(--secondary-color);

  padding: 1rem;
}

.footer p:hover {
  color: var(--secondary-color-light)
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}