@font-face {
    font-family: 'MyFont';
    src: url('./Lato/Lato-Regular.ttf') format('ttf'),
      url('./Lato/Lato-Light.ttf') format('ttf'),
      url('./Lato/Lato-Thin.ttf') format('ttf'),
      url('./Lato/Lato-Black.ttf') format('ttf'),
      url('./Lato/Lato-Black.ttf') format('ttf');

    font-style: normal;
  }

:root {
    /* primary color */


    /* secondary colors */

    --white-color: #fff;
    --black-color: #000;


    /* fonts */
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'MyFont';

}